<h2>Texto a la izquierda, indicador a la derecha</h2>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]="true">
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-block text-left text-white" ngbPanelToggle>
          Panel 1
        </button>
        <button class="btn btn-block text-right text-white" ngbPanelToggle>
          <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
          [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'left'"></i>
        </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-block text-left text-white" ngbPanelToggle>
          Panel 2
        </button>
        <button class="btn btn-block text-right text-white" ngbPanelToggle>
          <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
            [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'left'"></i>
        </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-block text-left text-white" ngbPanelToggle>
          Panel 3
        </button>
        <button class="btn btn-block text-right text-white" ngbPanelToggle>
          <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
            [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'left'"></i>
        </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<hr>

<h2>Indicador a la izquierda, texto al centro</h2>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]="true">
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
         <button class="btn btn-block text-left text-white" ngbPanelToggle>
           <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
             [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'right'"></i>
         </button>
        <button class="btn btn-block text-center text-white" ngbPanelToggle>
          Panel 1
        </button>
        <button class="btn btn-block" ngbPanelToggle>
        </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-block text-left text-white" ngbPanelToggle>
          <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
            [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'right'"></i>
        </button>
        <button class="btn btn-block text-center text-white" ngbPanelToggle>
          Panel 2
        </button>
         <button class="btn btn-block" ngbPanelToggle>
         </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-block text-left text-white" ngbPanelToggle>
          <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
            [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'right'"></i>
        </button>
        <button class="btn btn-block text-center text-white" ngbPanelToggle>
          Panel 3
        </button>
        <button class="btn btn-block" ngbPanelToggle>
        </button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<hr>

<h2>Botón único</h2>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]="true">
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <button class="btn btn-block text-left text-white" ngbPanelToggle>
        <span class="d-flex align-items-center justify-content-between">
          <span>
            <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
              [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'right'"></i>
          </span>
          <span>
            Panel xxxx
          </span>
          <span></span>
        </span>
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <button class="btn btn-block text-left text-white" ngbPanelToggle>
        <span class="d-flex align-items-center justify-content-between">
          <span>
            <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
              [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'right'"></i>
          </span>
          <span>
            Panel xxx
          </span>
          <span></span>
        </span>
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <button class="btn btn-block text-left text-white" ngbPanelToggle>
        <span class="d-flex align-items-center justify-content-between">
          <span>
            <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
              [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'right'"></i>
          </span>
          <span>
            Panel xx
          </span>
          <span></span>
        </span>
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel type="primary">
    <ng-template ngbPanelHeader let-opened="opened">
      <button class="btn btn-block text-left text-white" ngbPanelToggle>
        <span class="d-flex align-items-center justify-content-between">
          <span>
            <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
              [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'right'"></i>
          </span>
          <span>
            Panel x
          </span>
          <span></span>
        </span>
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel type="primary" [disabled]="true">
    <ng-template ngbPanelHeader let-opened="opened">
      <button class="btn btn-block text-left text-white" ngbPanelToggle>
        <span class="d-flex align-items-center justify-content-between">
          <span>
            <i class="fa fa-fw" [ngClass]="{'fa-plus':!opened, 'fa-minus':opened}"
              [ngbTooltip]="opened ? 'Colapsar': 'Abrir'" [placement]="'right'"></i>
          </span>
          <span>
            Panel Disabled
          </span>
          <span></span>
        </span>
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<hr>
